.logo-text {
    font-size: 20px;
    font-weight: bold;
}

header .nav-link {
    color: gray;
}

header .nav-link:hover {
    color: orange;
}

header .nav-link:active {
    color: rgb(171, 171, 1);
}
input [type="search"] {
    border: none;
}
.plus-badge {
    font-size: 10px;
    padding: 10px 5px;
    background: linear-gradient(101.67deg,#48cce0 7.24%,#505add 34.12%,#be40c0 62.93%,#fba82b 92.22%);
}